
$primary: hsl(192, 16%, 49%);
$secondary: hsl(198, 18%, 25%);
$success: hsl(72, 68%, 51%);
$info: hsl(60, 42%, 70%);
$warning: hsl(41, 97%, 55%);
$danger: hsl(5, 54%, 55%);
$light: hsl(210, 17%, 98%);
$dark: hsl(210, 10%, 23%);
$body-bg: $light;
$body-color: $dark;
$font-family-base: "system-ui", sans-serif;
$enable-color-modes: true;